<footer class="w-100 d-flex flex-row flex-wrap justify-content-center bg-primary p-3 text-light text-center">
    <div class="footer-img p-2">
        <img class="w-100" src="assets/img/Logotipo-light.png" alt="Imagen de Logo">
        <p class="text-center pt-3">
            Creando soluciones y ayuda tecnológica para la sociedad en general.
        </p>
    </div>

    <div class="footer-notes p-2">
        <h5>Otras notas</h5>
        <div class="d-flex flex-row flex-wrap justify-content-evenly pt-3">
            <a class="btn btn-primary" href="https://thecomediandan.github.io/Apuntes-de-Web/content/pag-html.html" role="button" target="_blank" [innerHTML]="getIcono('html')"></a>
            <a class="btn btn-primary" href="https://thecomediandan.github.io/Apuntes-de-Web/content/pag-estilos.html" role="button" target="_blank" [innerHTML]="getIcono('css')"></a>
            <a class="btn btn-primary" href="https://thecomediandan.github.io/Apuntes-de-Web/content/pag-javascript.html" role="button" target="_blank" [innerHTML]="getIcono('javascript')"></a>
        </div>
    </div>

    <div class="footer-index p-2">
        <h5>Contenido</h5>
        <ul class="pt-3">
            <li><a href="#">Inicio</a></li>
            <li><a href="#container-git-configuration">Configuraciones</a></li>
            <li><a href="#container-git-basic-operation">Operaciones básicas</a></li>
            <li><a href="#container-git-practice-cases">Casos prácticos</a></li>
        </ul>
    </div>

    <div class="footer-social p-2">
        <h5>Redes sociales</h5>
        <div class="d-flex flex-row flex-wrap justify-content-center pt-3">
            <a class="btn btn-primary" href="https://github.com/thecomediandan" role="button" target="_blank" [innerHTML]="getIcono('github')"></a>
            <a class="btn btn-primary mx-2" href="https://twitter.com/DanielDanish1" role="button" target="_blank" [innerHTML]="getIcono('twitter-x')"></a>
            <a class="btn btn-primary" href="https://www.youtube.com/channel/UCE7zY6OODXkdP3YLZXeFLeg" target="_blank" role="button" [innerHTML]="getIcono('youtube')"></a>
        </div>
    </div>
</footer>
<div class="footer-page w-100 bg-primary py-3 text-light text-center">DanDev 2024 | Creado por Daniel Quispe Kuno</div>
