/* .container-transparent::before {
    content: "";
    width: 800px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.24);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
} */