<nav class="navbar navbar-expand-lg bg-body-tertiary col-lg-10 col-md-11 col-sm-12 col-12 m-auto pt-3 fixed-top">
  <div class="container-fluid">

    <div class="navbar-brand col-lg-2 col-md-2 col-sm-3 col-4">
      <a href="https://angular.io/" target="_blank">
        <img src="assets/angular-svg.svg">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-social collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="start-app">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="container-git-configuration">Configuraciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="container-git-basic-operation">Operaciones básicas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" fragment="container-git-practice-cases">Casos prácticos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Links de Angular
          </a>
          <ul class="dropdown-menu">

            @for (item of [
              { title: 'Explore the Docs', link: 'https://angular.dev' },
              { title: 'Learn with Tutorials', link: 'https://angular.dev/tutorials' },
              { title: 'CLI Docs', link: 'https://angular.dev/tools/cli' },
              { title: 'Angular Language Service', link: 'https://angular.dev/tools/language-service' },
              { title: 'Angular DevTools', link: 'https://angular.dev/tools/devtools' },
              ]; track item.title) {
              <li>
                <a
                  class="dropdown-item"
                  [href]="item.link"
                  target="_blank"
                  rel="noopener"
                >
                  <span>{{ item.title }}</span>
                </a>
              </li>
            }

            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://angular.io/" target="_blank">
              <span>Angular</span>
            </a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex col-lg-1 h3 justify-content-end">
        <a
          href="https://github.com/thecomediandan"
          aria-label="Github"
          target="_blank"
          rel="noopener"
          class="px-2"
          [innerHTML]="getIcono('github')"
        >
        </a>
        <a
          href="https://twitter.com/DanielDanish1"
          aria-label="Twitter"
          target="_blank"
          rel="noopener"
          class="px-2"
          [innerHTML]="getIcono('twitter-x')"
        >
        </a>
        <a
          href="https://www.youtube.com/channel/UCE7zY6OODXkdP3YLZXeFLeg"
          target="_blank"
          rel="noopener"
          class="px-2"
          [innerHTML]="getIcono('youtube')"
        >
        </a>
      </div>
    </div>
  </div>
</nav>

<main id="start-app" class="container d-flex flex-column col-lg-10 col-md-11 col-sm-12 col-12 mx-auto" style="padding-top: 100px;">
  <div class="column">
    <div class="container my-3">
      <h1 class="text-center">{{ title }}</h1>
      <p class="text-center">Configuraciones, apuntes y ayuda de problemas.</p>
    </div>

    <div class="row justify-content-evenly pt-4">

      <div class="card-git card-repository column col-lg-5 col-md-7 col-sm-10 col-10 m-2 rounded text-light p-3 d-flex flex-column justify-content-between"  style="height: 13rem;">
        <div class="card-content">
          <h1>Git</h1>
          <p>Manejador de versiones de software.</p>
        </div>
        <div class="card-content d-flex justify-content-center align-item-center">
          <!-- <button class="btn btn-info"><i class="bi bi-git"></i>&nbsp; Documentación</button> -->
          <a class="btn btn-primary" href="https://git-scm.com/doc" target="_blank" role="button">&nbsp; Documentación</a>
        </div>
      </div>

      <div class="card-github card-repository column col-lg-5 col-md-7 col-sm-10 col-10 m-2 rounded text-light p-3 d-flex flex-column justify-content-between"  style="height: 13rem;">
        <div class="card-content">
          <h1>Github</h1>
          <p>Platafoma que usa Git para colaboraciones y repositorios remotos.</p>
        </div>
        <div class="card-content d-flex justify-content-center align-item-center">
          <!-- <button class="btn btn-info"><i class="bi bi-github"></i>&nbsp; Página GitHub</button> -->
          <a class="btn btn-primary" href="https://github.com" target="_blank" role="button">&nbsp; Página GitHub</a>
        </div>
      </div>

    </div>

  </div>

  <div class="container w-lg-90 mt-5 mx-auto d-flex flex-row">

    <app-menu class="col-lg-4 d-lg-block d-md-none d-sm-none d-none sticky-top overflow-y-auto" style="top: 100px; height: 80svh;" />


    <app-content class="col-lg-8 col-md-10 col-sm-12 col-12" />

  </div>

  <app-menu-mobile />

</main>
<footer class="container col-lg-11 mt-5 mx-auto">
  <!-- TO DO Footer Component -->
  <app-footer />
</footer>
<router-outlet />
